.chargrid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr repeat(2, 2fr) repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
margin: 15px; 
margin-right: 100px;
margin-left: 100px;
background-color: #fbfbf9;
}

.imagry {
    grid-area: 1 / 1 / 3 / 2;
    border: 3px dashed #550cb7;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
}

.chname {
    grid-area: 1 / 2 / 2 / 4;
    border: 3px dashed #550cb7;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    font-family: 'Averia Serif Libre', cursive;
    color: #444444;
}

.goods {
     grid-area: 2 / 2 / 3 / 3;
    border: 3px dashed #550cb7;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
        font-family: 'Averia Serif Libre', cursive;
    color: #444444;
}

.bads {
    grid-area: 2 / 3 / 3 / 4;
    border: 3px dashed #550cb7;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    font-family: 'Averia Serif Libre', cursive;
    color: #444444;
}

.chdets {
     grid-area: 3 / 1 / 4 / 2;
    border: 3px dashed #550cb7;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
        font-family: 'Averia Serif Libre', cursive;
    color: #444444;
}

.chsum {
    grid-area: 3 / 2 / 4 / 4;
    border: 3px dashed #550cb7;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    font-family: 'Averia Serif Libre', cursive;
    color: #444444;
}

.chemblms {
   grid-area: 4 / 2 / 5 / 3;
    border: 3px dashed #550cb7;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
        font-family: 'Averia Serif Libre', cursive;
    color: #444444;
}

.choiceopt {
   grid-area: 5 / 2 / 6 / 3;
    border: 3px dashed #550cb7;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    font-family: 'Averia Serif Libre', cursive;
    color: #444444;
}