.entrygrid {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 10px;
grid-row-gap: 0px;
margin: 15px; 
margin-right: 100px;
margin-left: 100px;  
}

///.options {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fbfbf9;
    border-radius: 15px;
    padding: 15px;
    height: 100px;
}

.entry {
    grid-area: 1 / 1 / 5 / 4;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fbfbf9;
    border-radius: 15px;
    padding: 15px;
    width: 600px;
}

.feedmit {
    grid-area: 5 / 1 / 6 / 4;
     margin: 20px;
       margin-left: auto;
    margin-right: auto;
    background-color: #fbfbf9;
    border-radius: 15px;
    padding: 15px;
    height: 80px;
}

.contactTable {
    grid-area: 1 / 4 / 6 / 6;
     margin: auto;
       margin-left: auto;
    margin-right: auto;
    background-color: #fbfbf9;
    border-radius: 15px;
    text-align: center;
}

ul.radiolist {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
    display: inline-block;
    
}

ul.radiolist li {
    float: left;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.butnr {
  float: left;
    justify-content: center;
    align-content: center;
    margin: 15px;
    padding: 15px;
    text-align: center;
    background-color: #550cb7;
    border-radius: 10px;
    color: #fbfbf9;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 30pt;
}

.butnr:hover {
    background-color: #a7f042;
    color: #550cb7;
}

#Comment {
    width: 80%;
    height: 300px;
}

table {
    margin: 20px;
    border: 2px solid #550cb7;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 2px solid #550cb7;
}

#Cmntname {
    width: 80%;
    height: 30px;
}

#contactor {
    background-color: #550cb7;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #fbfbf9;
}

.darkblock {
    background-color: #550cb7;
    color: #fbfbf9;

}