.galgrid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px; 
margin-right: 100px;
margin-left: 100px;
    margin-bottom: 0;
}

.galset {
    grid-area: 1 / 1 / 2 / 4;
    background-color: #fbfbf9;
    border-radius: 15px;
    border: 5px dashed #550cb7;
    margin: 10px 0;
    width: 100%;
}

.galsites {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #fbfbf9;
    border-radius: 15px;
    padding: 15px;
    border: 5px dashed #550cb7;
    height: 100px;
    margin: 20px 0;
}

.sumtro {
    text-align: center;
}

.galimage {
    max-height: 100%;
    width: auto;
    background-color: #444444;
    
}

.imgset {
    display: inline-block;
    text-align: center;
    margin: 10px;
    max-width: 300px;
}

.imgset h4 {
    font-size: 18pt;
}

.imgset img {
    width: 100%;
   margin: auto;
    display: flex;
    align-items: center;
}



@media only screen and (max-width: 600px) {
    
    .galgrid {
        display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
        width: 100%;
        margin: 15px 0;
    }
    
    .galset { grid-area: 1 / 1 / 2 / 2;
        width: 100%;
    }
    .galsites { grid-area: 2 / 1 / 3 / 2;
            width: 100%;

    }
    
    .imgset {
        width: 100%;
    }
    
}