.logo {
    text-align: center;
    padding: 5px;
    width: 100%;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 40pt;
  background-image: url(paperTexture.jpg);
}

nav.navi {
    background-color: #550cb7;
    width: 110%;
    align-content: center;
    
}
nav.navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

nav.navi li {
  float: left;
  width: 25%;
}

nav.navi a {
  padding: 2em 3em;
  width: 50%;
  display: inline-block;  
  color: white;
  text-decoration: none;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 16pt;
  text-align: center;
}

nav.navi a:hover {
    background-color: dodgerblue;
    color: #550cb7;
    font-style: bold;
}

.homentro {
    padding: 30px;
    border-left-style: dashed;
    border-right-style: dashed;
}

.cyc {
    text-align: center;
    font-size: 30pt;
}

.menuinstruct {
    padding: 30px;
    padding-top: 15px;
    background-color: #550cb7;
    color:#fbfbf9
}

section {
  display: flex;
    flex-wrap: wrap;
    align-content: center;
}

article {
  flex: 25%;
}

[class*="info"] {
    border: solid;
    border-color: #fbfbf9;
    padding: 100px 50px;
    text-align: center;
    
}

[class~="Archetype"] {
    background-color: darksalmon;
    border-top-left-radius: 10% 30%;
}

[class~="Color"] {
    background-image: linear-gradient(90deg, rgba(255,36,36,1) 0%, rgba(227,255,52,1) 48%, rgba(0,212,255,1) 100%);
    border-top-right-radius: 10% 30%;
}

[class~="Style"] {
    background-image: linear-gradient(90deg, rgba(17,29,85,1) 0%, rgba(228,172,255,1) 100%);
    border-bottom-left-radius: 10% 30%;
    color: #fbfbf9;
}

[class~="DoNt"] {
    background-image: linear-gradient(90deg, rgba(113,227,45,1) 0%, rgba(113,227,45,1) 50%, rgba(221,31,31,1) 50%, rgba(221,31,31,1) 100%);
    border-bottom-right-radius: 10% 30%;
}

h2, h3 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 20pt;
}

p {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: mediumslateblue;
}

[class^="a"] {
    background-color: cornsilk;
    height: 200px;
    margin: 60px;
    padding: 20px;
    border-radius: 10%;
    align-content: center;
    text-align: center;
    width: 20px;
}

.emblem {
    width: 150px;
    height: auto;
}