.logo {
    text-align: center;
    padding: 5px;
    width: 99.35%;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 40pt;
  background-image: url(paperTexture.jpg);
    background-size: 100%;
}

nav.navi {
    background-color: darkblue;
    width: 100%;
    align-content: center;
    
}
nav.navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

nav.navi li {
  float: left;
  width: 25%;
}

nav.navi a {
  padding: 2em 3em;
  width: 50%;
  display: inline-block;  
  color: white;
  text-decoration: none;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 16pt;
  text-align: center;
}

nav.navi a:hover {
    background-color: dodgerblue;
    color: darkblue;
    font-style: bold;
}

.homentro, .whatarc, .moredet, .ColorNtroduction, .styletitle, .makeintro, .gallintro, .feebkintro {
    padding: 30px;
    border-left-style: dashed;
    border-right-style: dashed;
}

.cyc, .instructarc {
    text-align: left;
    font-size: 30pt;
}

.whatarc {
    border-bottom-style: dashed;
}

.moredet {
    border-top-style: dashed;
}

.menuinstruct {
    padding: 30px;
    padding-top: 15px;
    background-color: darkblue;
    color:azure
}

.menu {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

[class*="info"] {
    text-align: center;
    height: 400px;
    padding: 100px;
    padding-top: 200px;
}

.letsMake {
    background-color: darkblue;
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid;
    border-color: azure;
    color: azure;
    grid-area: 3 / 3 / 5 / 5;
    align-self: center;
    justify-self: center;
}

.infoArchetype {
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: azure;
    grid-area: 1 / 1 / 4 / 4;
}

.infoColor {
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: azure;
    grid-area: 1 / 4 / 4 / 7;
}

.infoStyle {
    border-right: 2px solid;
    border-top: 2px solid;
    border-color: azure;
    grid-area: 4 / 1 / 7 / 4;
}

.infoDoNt {
    border-left: 2px solid;
    border-top: 2px solid;
    border-color: azure;
    grid-area: 4 / 4 / 7 / 7;
}

footer {
    text-align: center;
    background-color: darkblue;
    color: azure;
    height: 50px;
    padding-top: 1px;
}


h2, h3 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 20pt;
}

p {
    font-family: 'Lato', sans-serif;
}

h2, h3, p {
    color: azure;
}

body {
    background-color: darkslateblue;
    padding: 0;
    margin: 0;
}

.rcircle {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aH { grid-area: 2 / 7 / 3 / 8; }
.aM { grid-area: 3 / 9 / 4 / 10; }
.aJ { grid-area: 5 / 10 / 6 / 11; }
.aRb { grid-area: 7 / 11 / 8 / 12; }
.aI { grid-area: 9 / 10 / 10 / 11; }
.aCg { grid-area: 11 / 9 / 12 / 10; }
.aS { grid-area: 12 / 7 / 13 / 8; }
.aEv { grid-area: 11 / 5 / 12 / 6; }
.aRl { grid-area: 9 / 4 / 10 / 5; }
.aCt { grid-area: 7 / 3 / 8 / 4; }
.aL { grid-area: 5 / 4 / 6 / 5; }
.aEx { grid-area: 3 / 5 / 4 / 6; }

.emblem {
    width: 150px;
    height: auto;
}

[class^="a"] {
   width: 150px;
    height: auto;
    border-radius: 50%;
    border: 1px solid;
    
}
.holder {
    height: 300px;
    width: auto;
    float: left;
    margin-right: 20px;
    
}