h1 {
    color: #fbfbf9;
    font-size: 80pt;
}

h2, h3, label, th {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 20pt;
}

p, li, td, textarea {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #550cb7;
    padding: 0;
    margin: 0;
}

.logo {
    text-align: center;
    padding: 5px;
    width: 99.35%;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 40pt;
    background-color: #444444;
  background-image: url(paperTexture.jpg);
    background-size: 100%;
}

nav.navi {
    background-color: #550cb7;
    width: 100%;    
}
nav.navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
      text-align: center;

}

nav.navi li {
  float: left;
  width: 25%;
}

nav.navi a {
  padding: 2em 3em;
  min-width: 250px;
  display: inline-block;  
  color: #FBFBF9;
  text-decoration: none;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 16pt;
  text-align: center;
}

nav.navi a:hover {
    background-color: #a7f043;
    color: #444444;
    font-style: bold;
}

.sumtro {
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    border-left-style: 1px dashed #550cb7;
    border-right-style: 1px dashed #550cb7;
    background-color: #fbfbf9;
    border-bottom: 3px dashed #550cb7;
}

.cyc, .instructarc, #dos, #dont {
    text-align: center;
    font-size: 30pt;
}

.whatarc {
    border-bottom-style: dashed;
}

.moredet {
    border-top-style: dashed;
}

.menuinstruct {
    padding: 30px;
    padding-top: 15px;
    background-color: #550cb7;
    color:#fbfbf9;
    border-bottom: 3px dashed #fbfbf9;
    text-align: center;
}

.menu {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
    background-color: #fbfbf9;
    margin-left: 100px;
    margin-right: 100px;
}

[class*="info"] {
    text-align: center;
    height: 500px;
    padding: 100px;
    padding-top: 200px;
}

.letsMake {
    grid-area: 3 / 3 / 5 / 5;
    background-color: #550cb7;
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid;
    border-color: #550cb7;
    color: #fbfbf9;
    align-self: center;
    justify-self: center;
}



.infoArchetype {
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: #550cb7;
    grid-area: 1 / 1 / 4 / 4;
}

.infoArchetype:hover {
    background-image: url("Images/emblemsCircle-14.png");
    background-position-y: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #140c19;
    color: #a7f042;
}

.infoColor {
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: #550cb7;
    grid-area: 1 / 4 / 4 / 7;
}

.infoColor:hover {
    background-image: url("Images/colorimage.png");
    background-position-y: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #603813;
    color: #a7f042;
}

.infoStyle {
    border-right: 2px solid;
    border-top: 2px solid;
    border-color: #550cb7;
    grid-area: 4 / 1 / 7 / 4;
}

.infoStyle:hover {
    background-image: url("designer.jpg");
    background-position-y: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #550cb7;
    color: #a7f042;
}

.infoDoNt {
    border-left: 2px solid;
    border-top: 2px solid;
    border-color: #550cb7;
    grid-area: 4 / 4 / 7 / 7;
}

.infoDoNt:hover {
    background-image: url("Images/yesno.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: #a7f042;
}

footer {
    text-align: center;
    background-color: #550cb7;
    height: 50px;
    padding-top: 1px;
    border-top: 3px dashed #fbfbf9;
    color: #fbfbf9;
}




.rcircle {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fbfbf9;
    
}

.rcircle [class^="a"] {
    width: 75%;
    margin: 20px;
    padding-top: 15%;
}

.aH { 
    grid-area: 1 / 3 / 2 / 4;
    color: #f15a29;
}
.aM { 
    grid-area: 1 / 4 / 2 / 5;
    color: #f7941d;
}
.aJ { 
    grid-area: 4 / 4 / 5 / 5;
    color: #fbb040;
}
.aRb { 
    grid-area: 2 / 4 / 3 / 5;
    color: #be1e2d;
}
.aI { 
    grid-area: 2 / 1 / 3 / 2;
    color: #00a651;
}
.aCg { 
    grid-area: 4 / 2 / 5 / 3;
    color: #00a79d;
}
.aS { 
    grid-area: 1 / 1 / 2 / 2;
    color: #009444;
}
.aEv { 
    grid-area: 4 / 3 / 5 / 4;
    color: #481267;
}
.aRl { 
    grid-area: 4 / 1 / 5 / 2;
    color: #262262;
}
.aCt { 
    grid-area: 3 / 1 / 4 / 2;
    color: #2e3192;
}
.aL { 
    grid-area: 3 / 4 / 4 / 5;
    color: #9e1f63;
}
.aEx { 
    grid-area: 1 / 2 / 2 / 3;
    color: #aeb551;
}

.mark {
    grid-area: 2 / 3 / 3 / 4;
   border-bottom: 2px solid #550cb7;
    border-left: 2px solid #550cb7;
    text-align: center;
    padding: 50% 5%;
}

.connect {
    grid-area: 3 / 3 / 4 / 4;
   border-top: 2px solid #550cb7;
    border-left: 2px solid #550cb7;
    text-align: center;
    padding: 50% 5%;
}

.provide {
    grid-area: 3 / 2 / 4 / 3;
    border-top: 2px solid #550cb7;
    border-right: 2px solid #550cb7;
    text-align: center;
    padding: 50% 5%;
}

.journey {
    grid-area: 2 / 2 / 3 / 3;
    border-bottom: 2px solid #550cb7;
    border-right: 2px solid #550cb7;
    text-align: center;
    padding: 50% 5%;
}

.emblem {
    width: 100%;
    height: auto;
}

.holder {
    height: 300px;
    width: auto;
    float: left;
    margin-right: 20px;
    
}

.insctruct1, #contrast1, .contbtn, .letsMake {
    color: #fbfbf9;
}

.letsMake:hover {
    background-color: #a7f042;
    color: #550cb7;
}

h4, .darkhead, #pickcolor, #homehead, #whatarc, #thystyle, #treatro, #mkitro, #galtro, #saf {
    color: #550cb7;
    font-family: 'Averia Serif Libre', cursive;
}

.darktxt {
    color: #444444;
}

button {
    background:    #a7f042;
border-radius: 23px;
padding:       20px 39px;
color:         #550cb7;
display:       inline-block;
font:          normal bold 26px/1 'Averia Serif Libre', cursive;
text-align:    center;
}

button:hover {
    background:    #550cb7;
border:        5px solid #a7f042;
border-radius: 23px;
padding:       20px 39px;
color:         #a7f042;
display:       inline-block;
text-align:    center;
}

.sourceimg {
    width: 300px;
      display: block;
  margin-left: auto;
  margin-right: auto;
}

.sources {
    padding: 30px;
    padding-top: 20px;
    color: #a7f042;
    border-top: 2px dashed #a7f042;
}

a.menublocks, a.menublocks:visited {
    color: #550cb7;
    text-decoration: none;
}

a.menublocks:hover {
    color: #a7f042;
    text-decoration: none;
}

a.makego, a.makego:visited {
    color: #fbfbf9;
    text-decoration: none;
}

a.makego:hover {
    color: #550cb7;
}

#sourcehead {
    color: #a7f042;
    margin: 0;
}

.sources p {
    padding-left: 24px;
}

h4 {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40pt;
    }
    
    body {
        width: 100%;
    }
    
    h2, h3, label, th {
        font-size: 20pt;
    }
    
    p {
        font-size: 10pt;
    }
    
    .menublocks {
        width: 100%;
    }
    
    nav.navi li {
    float: left;
    width: 100%;
    }
    
    .menu, .rcircle, [class$="grid"] {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
    }
    
    .menu div, .rcircle div, [class$="grid"] div {
        width: 100%;
        padding: 10px;
    }
    
    .menu {
        grid-template-rows: repeat(5, 1fr);
        
    }
    
    .infoArchetype {
        grid-area: 1 / 1 / 2 / 2;
        border: 2px solid #550cb7;
        
    }
    
    .infoColor {
        grid-area: 2 / 1 / 3 / 2;
        border: 2px solid #550cb7;
    }
    
    .infoStyle {
        grid-area: 3 / 1 / 4 / 2;
        border: 2px solid #550cb7;
    }
    
    .infoDoNt {
        grid-area: 4 / 1 / 5 / 2;
        border: 2px solid #550cb7;
    }
    
    .letsMake {
        grid-area: 5 / 1 / 6 / 2;
        
    }
    
      .rcircle {
        grid-template-rows: repeat(13, 1fr);
        width: 100%;
    }
    
    .mark { 
        grid-area: 1 / 1 / 2 / 2; 
        width: 100%;
        border: 2px solid #550cb7;
        text-align: center;
        padding: 50% 5%;
        height: 10%;
        }
    .aH { grid-area: 2 / 1 / 3 / 2;
        margin: 0;
    }
    .aM { grid-area: 3 / 1 / 4 / 2; }
    .aRb { grid-area: 4 / 1 / 5 / 2; }
    .connect { 
        grid-area: 5 / 1 / 6 / 2;
        width: 100%;
        border: 2px solid #550cb7;
        text-align: center;
        padding: 50% 5%;
        height: 10%;
        }
    .aL { grid-area: 6 / 1 / 7 / 2; }
    .aJ { grid-area: 7 / 1 / 8 / 2; }
    .aEv { grid-area: 8 / 1 / 9 / 2; }
    .provide { 
        grid-area: 9 / 1 / 10 / 2;
        width: 100%;
        border: 2px solid #550cb7;
        text-align: center;
        padding: 50% 5%;
        height: 10%;
        }
    .Cg { grid-area: 10 / 1 / 11 / 2; }
    .aRl { grid-area: 11 / 1 / 12 / 2; }
    .aCt { grid-area: 12 / 1 / 13 / 2; }
    .journey { 
        grid-area: 13 / 1 / 14 / 2;
        width: 100%;
        border: 2px solid #550cb7;
        text-align: center;
        padding: 50% 5%;
        height: 10%;
        }
    .aI { grid-area: 14 / 1 / 15 / 2; }
    .aS { grid-area: 15 / 1 / 16 / 2; }
    .aEx { grid-area: 16 / 1 / 17 / 2; }
    
    
    }

@media only screen and (max-width: 800px) {
    
    div {
        width: 100%;
    }
    
    img {
        width: 100%;
    }
    
}


